@media screen and (max-width:1200px) {
    .testimonial {
        .person-info {
            flex-direction: column !important;
        }
    }
}

@media screen and (max-width:1080px) {
    .navbar-logo {
        display: none !important;
    }
}

@media screen and (max-width:991px) {
    .main-menu {

        margin-left: 45px !important;
    }

    .navbar-nav {

        .nav-item {
            .nav-link {
                padding: 15px 0 !important;
            }

        }
    }

    .what-logo {
        right: 35% !important;
    }

    .whatis {
        margin: 10px 0 20px 0 !important;
    }

    .form-text {
        display: none;
    }

    .ads-land {
        .land-content {
            margin-top: 10px !important;
        }
    }
}

@media screen and (max-width:767px) {
    .phone {
        margin: auto !important;
    }

    .content-left {
        display: none !important;
    }

    .phone-box {
        h2 {
            display: block !important;
        }

        .download {
            display: block !important;
        }
    }

    .hero {
        .phone {
            width: 201px !important;
            height: 367px !important;

            .video {
                width: 151px !important;
                height: 273px !important;
            }
        }
    }

    .ads-land {
        .land-content {
            h1 {
                font-size: 35px !important;
            }

            p {
                font-size: 20px !important;
            }
        }
    }

    .plan-pricing {
        .title-content {
            h1 {
                font-size: 35px !important;
            }

            p {
                font-size: 18px !important;
            }
        }
    }

    .testimonial {
        .title {
            h1 {
                font-size: 35px !important;
            }

            p {
                font-size: 18px !important;
            }
        }

        .tm-text {
            font-size: 15px;
        }
    }
}

@media screen and (max-width:420px){
    .what-logo{
        right: 20% !important;
    }
}