@media screen and (max-width:1080px){
    .navbar-logo{
        display: none !important;
    }
}
@media screen and (max-width:991px) {
    .navbar-nav {
        .nav-item {
            .nav-link {
                padding: 15px 0 !important;
            }

        }
    }
    .what-logo{
        right: 35% !important;
    }

    .whatis {
        margin: 10px 0 20px 0 !important;
    }

    .form-text {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .phone {
        margin: auto !important;
    }

    .content-left {
        display: none !important;
    }
    .phone-box{
        h2{
            display: block !important;
        }
        .download{
            display: block !important;
        }
    }
    .hero {
        .phone {
            width: 201px !important;
            height: 367px !important;

            .video {
                width: 151px !important;
                height: 273px !important;
            }
        }
    }
}